.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create_input{
    width: 300px;
    padding: 10px;
    border-bottom: 2px solid;
    outline: none;
    border-radius: 5px;
}
.create_button{
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin:10px;
    width: 60px;
}
.task{
    display: flex;
    align-items: center;
    width: 345px;
    background-color: black;
    color: white;
    height: 35px;
    padding: 2px 5px 2px 5px;
    margin-top: 2px;
    justify-content: space-between;
}
.checkbox{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.checkbox .icon{
    margin-right: 5px;
    font-size: 15px;

}
.task div span{
    margin: 0px 5px 0px 4px;
    
}
.task div .icon{
    cursor: pointer;
   
}
.line_through{
    text-decoration: line-through;
}
.iconset{
    display: flex;
    justify-content: space-between;
}